@model MongoDBMVCApp.Models.Computer

@{
    ViewBag.Title = "Attach an image";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            @Html.LabelFor(model => model.Name)
            <div>@Model.Name</div>
        </div>

        <div>
            @Html.LabelFor(model => model.ImageId, "Upload image")
            <div>
                <input type="file" name="uploadedFile" id="uploadedFile"/>
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Upload"/>
            </div>
        </div>
    </div>
}

@if (Model.HasImage())
{
    <img src="@Url.Action("GetImage", new {id=@Model.ImageId})"/>
}