@using System.Web.Optimization
@using System.Web
@model MongoDBMVCApp.Models.Computer

@{
    ViewBag.Title = "New model";
}

<h2>New Model</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Year)
            <div>
                @Html.EditorFor(model => model.Year)
            </div>
        </div>

        <div>
            <input type="submit" value="Add"/>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>