@model MongoDBMVCApp.Models.Computer

@{
    ViewBag.Title = "Edit page";
}

<h2>Edit this model</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.HiddenFor(model => model.Id)
        <div> 
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
        <div> 
            @Html.LabelFor(model => model.Year)
            <div>
                @Html.EditorFor(model => model.Year)
            </div>
        </div>
        <div>
            <input type="submit" value="Edit"/>
        </div>
    </div>
}